<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>Bill With Settings Widgets</title>
<link rel="stylesheet" type="text/css" href="/skeleton.css">
<link rel="stylesheet" type="text/css" href="/style.css">
 
<title>Document</title>

{{{body}}}

<script src="/validate.js"></script>



