<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Bill With Settings Widgets</title>
<link rel="stylesheet" type="text/css" href="skeleton.css">
<link rel="stylesheet" type="text/css" href="style.css">
 
    <title>Document</title>
</head>
<body>
{{{body}}}
    
</body>
</html>


